.clear {
    margin-top: 60px;
    background-color: rgb(114, 114, 114);
    border: none;
    color: white;
    width: 50px;
    border-radius: 3px;
    padding-top: 4px;
    padding-bottom: 4px;

}

.clear:hover {
    cursor: pointer;
    opacity: 0.8;
}


p {
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
}

.entry-box {
    width: 400px;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 2px;
    height: 20px;
}

.leftContainer {
    display: inline-block;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 80px;
}

.rightContainer {
    display: inline-block;
    vertical-align: top;
    padding-top: 80px;
    padding-left: 40px;
}


.button {
    margin-left: 40px;
    margin-top: 30px;
    width: 100px;
    height: 40px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: Arial;
    font-weight: bolder;
}

.button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.drop_down {

    margin-bottom: 30px;
    height: 26px;
    width: 408px;
    border-style: solid;
    border-radius: 2px;


}